<section class="registration">
    <%= notice %>
    <%= alert %>
    <div class="registration__container">
        <div class="registration__wrapper">
            <div class="active registration__title">
                <h3 class="registration__title-text" id="js-registration-title">
                    <%= Settings.web[:circle_name] %>
                </h3>
            </div>
            <%= form_with model: @user, url: user_registration_path, id: 'new_user' , class: 'new_user' , local:true do |f| %>
                <%= render "devise/shared/error_messages" , resource: resource %>

                <div class="field registration__field">
                    <%= f.label :name %><br />
                    <%= f.text_field :name, autofocus: true ,class: "registration__input js-registration-check"%>
                </div>

                <div class="field registration__field">
                    <%= f.label :email %><br />
                    <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "registration__input js-registration-check" %>
                </div>

                <div class="field registration__field">
                    <%= f.label :password %>
                    <% if @minimum_password_length %>
                    <em>(※<%= @minimum_password_length %> 文字以上)</em>
                    <% end %><br />
                    <%= f.password_field :password, autocomplete: "new-password",class: "registration__input js-registration-check" %>
                </div>

                <div class="field registration__field">
                    <%= f.label :password_confirmation %><br />
                    <%= f.password_field :password_confirmation, autocomplete: "new-password",class: "registration__input js-registration-check" %>
                </div>

                <div class="field registration__field">
                    <%= f.label :university %><br />
                    <%= f.text_field :university, autofocus: true,class: "registration__input js-registration-check" %>
                </div>

                <div class="field registration__field">
                    <%= f.label :grade %><br />
                    <%= f.select :grade, {'1年生': 1, '2年生': 2, '3年生': 3, '4年生': 4, '修士1年': 5, '修士2年': '6'}, { include_blank: '学年を選択してください' }, { class: 'form-grade registration__input js-registration-check' , required: true } %>
                </div>

                <div class="actions text-center">
                    <%= f.submit "登録", class: "registration__submit js-login-submit" %>
                </div>
            <% end %>
            <!-- <%= render "devise/shared/links" %> -->
        </div>
    </div>
</section>