<div class="profile-modal-close" id="js-profile-bg-black"></div>
<section class="profile">
    <div class="filter-top">
        <%= image_tag("afternoon.jpg") %>
    </div>
    <div class="profile__set-position">
        <div class="profile__set-position-in text-center">
            <div class="profile__set__image">
                <% if @user.user_image.attached? %>
                    <%= image_tag @user.user_image, class: "profile__img" %>
                <% else %>
                    <%= image_tag "no-image-male.jpg" , class: "profile__img" %>
                <% end %>
                <div class="profile__set__image-filter">
                    <button class="profile__icon m-auto" id="js-profile-modal-open">
                        <i class="fas fa-camera fa-4x" id="js-camera"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="profile__modal text-center" id = "js-profile-modal">
        <%= form_with model:@user, local:true do |f| %>
            <button class="profile__modal__btn ml-auto" id="js-profile-close" type="button">
                <i class="profile__modal__btn__bars"></i>
            </button>
            <div class="profile__modal__input">
                <label for="inputImage">プロフィール画像</label>
                <%= f.file_field :user_image, placeholder: "プロフィール画像" , class: "profile-info__input" %>
            </div>
            <%= f.submit "画像を保存" , class: "btn-base m-auto" %>
        <% end %>
    </div>

    <div class="profile-info">
        <%= form_with model:@user, local:true do |f| %>
            <label for="inputName">名前</label>
            <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"名前", class: "profile-info__input" %>

            <label for="inputGrade">学年</label>
            <%= f.select :grade, { '1年生': 1, '2年生': 2, '3年生': 3, '4年生': 4, '修士1年': 5, '修士2年': 6 }, { include_blank: '学年を選択してください' }, { class: 'profile-info__input' , required: true } %>

            <label for="inputUniversity">大学</label>
            <%= f.text_field :university, autofocus: true, id:"inputUniversity",placeholder:"カフェ大学", class: "profile-info__input" %>

            <%= f.submit "変更を保存", class: "btn-base m-auto" %>
        <% end %>
    </div>
</section>