<section class="mypage">
    <div class="mypage__container">
        <div class="mypage__wrapper">
            <div class="mypage-info">
                <div class="mypage-info__img text-center">

                    <!-- user attached profile image? -->
                    <% if @user.user_image.attached? %>
                        <%= image_tag @user.user_image %>
                    <% else %>
                        <%= image_tag("no-image-male.jpg") %>
                    <% end %>

                </div>
                <div class="mypage-info__profile">
                    <h3 class="mypage-info__profile-name text-center">
                        <%= @user.name %>
                    </h3>
                    <p class = "mypage-info__profile-text text-center">
                        <%= @user.university %>

                        <!-- beginner or master? -->
                        <% if @user.grade <= 4 %>
                            学部<%= @user.grade %>年生
                        <% elsif @user.grade >4 %>
                            修士<%= @user.grade-4 %>年生
                        <% end %>

                    </p>
                    <div class="mypage-info__profile-edit text-center">
                        <%= link_to "編集" , edit_user_path(current_user), class: "btn-base" %>
                    </div>
                    <br>
                    <h3 class="mypage-info__event-title text-center">
                        〜〜 <%= t("mypage.event.join") %> 〜〜
                    </h3>

                    <!-- user join any event? -->
                    <% if @event_joins.count ==0 %>
                        <p class = "mypage-info__event-nothing text-center">
                            <%= t("mypage.event.nothing") %>
                        </p>
                    <% else %>
                        <% @event_joins.each do |event_join| %>
                            <%= link_to event_path(event_join.event.id) do %>
                                <div class="mypage-info__event">
                                    <%= image_tag event_join.event.image %>
                                    <span>
                                        <%= event_join.event.name %>
                                    </span>
                                </div>
                            <% end %>
                        <% end %>
                    <% end %>

                    <%= Time.zone.now %>
                    <i class="far fa-window-maximize"></i>
                </div>
            </div>
        </div>
    </div>
</section>
