<section class="event-all">

    <div class="filter-top">
        <%= image_tag("afternoon.jpg") %>
        <p class="event-all__text text-center">
            <%= t("title.index") %>
        </p>
    </div>

    <div class="event-all__container m-auto">
        <p id="notice">
            <%= notice %>
        </p>
        <h3 class="event-all__recommend">
            <%= t 'index.recommend_event' %>
        </h3>

        <%= render 'events/shared/slider' %>

    </div>

    <div class="event-all__menu m-auto">
        <h3 class="event-info__title text-center title-text">
            <%= t("title.index") %>
            <%= @from %>
        </h3>

        <div class="event-all__select text-center">
            <span class="event-all__select-before" id="js-select-before">
                <%= t("index.before") %>
            </span>
            <span class="event-all__select-after" id = "js-select-after">
                <%= t("index.after") %>
            </span>
        </div>

        <div class="event-all__menu__container" id="js-event-before">
            <%= render 'events/shared/all-event' %>
        </div>

        <div class="event-all__menu__container" id="js-event-after">
            <%= render 'events/shared/all-event-finished' %>
        </div>

    </div>



</section>

