<p id="notice"><%= notice %></p>

<section class="event-detail">
  <div class="event-detail__top text-center">
    <% if @event.image.attached? %>
      <%= image_tag @event.image %>
    <% end %>
  </div>

  <div class="event-detail__info">
    <div class="event-detail__info__container m-auto">
      <h3 class="event-detail__info__name" id="js-store-name">
        <%= @event.name %>
      </h3>

      <div class="event-detail__info__join">
        <i class="fas fa-user"></i>
        <%= t("index.join_num", join_num: @event.event_joins.count, max_num: @event.max_num) %>
        <% if @event.event_joins.count < @event.max_num %>
          <span class="event-detail__info__join__able">
            <%= t("show.joinable") %>
          </span>
        <% else %>
          <span class="event-detail__info__join__unable">
            <%= t("show.joinunable") %>
          </span>
        <% end %>
        <i class="fas fa-map-marker-alt"></i>
        <span id="js-place">
          <%= @event.place %>
        </span>
      </div>

      <!-- ログインしてるか -->
      <% if current_user %>
        <!-- ログインしたユーザーが参加しているか -->
        <% if @event.join_by?(current_user) %>
          <!-- イベントが開催される日にちで分岐 -->
          <% if @event.cancel_able? == "day_in" %>
            <div class="event-detail__info__join__btn text-center">
              <%= link_to event_event_joins_path(@event), class: "reject", method: :delete do %>
                <%= t("show.cancel.able") %>
              <% end %>
            </div>
          <% elsif @event.cancel_able? == "day_out"%>
            <div class="event-detail__info__join__btn text-center">
              <%= link_to root_path, class: "disabled" do %>
                <%= t("show.cancel.unable") %>
              <% end %>
              <p class="cancel-note">
                <%= t("show.cancel.note-html") %>
              </p>
            </div>
          <% else %>
            <div class="event-detail__info__join__btn text-center">
              <%= link_to root_path, class: "disabled" do %>
                <%= t("show.holded") %>
              <% end %>
            </div>
          <% end %>
        <% else %>
          <% if @event.cancel_able? == "day_in" || @event.cancel_able? == "day_out" %>
            <div class="event-detail__info__join__btn text-center">
              <%= link_to event_event_joins_path(@event), class: "join", method: :post do %>
                <%= t("show.hold") %>
              <% end %>
            </div>
          <% else %>
            <div class="event-detail__info__join__btn text-center">
              <%= link_to root_path, class: "disabled" do %>
                <%= t("show.holded") %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <div class="event-detail__info__join__btn text-center">
          <%= link_to event_event_joins_path(@event), class: "before-login", method: :post do %>
            <%= t("show.before-login") %>
          <% end %>
        </div>
      <% end %>

      <h3 class="event-detail__info__comment">
        <%= t("show.comment") %>
      </h3>
      <p class="event-detail__info__comment__content">
        <%= @event.comment %>
      </p>

      <table class="event-detail__info__table">

        <tr class = "event-detail__info__table__index">
          <th class = "event-detail__info__table__col">
            <i class="fas fa-store"></i>
            <%= t("show.category.name") %>
          </th>
          <td class = "event-detail__info__table__item">
            <%= @event.name %>
          </td>
        </tr>

        <tr class = "event-detail__info__table__index">
          <th class = "event-detail__info__table__col">
            <i class="fas fa-clock"></i>
            <%= t("show.category.date") %>
          </th>
          <td class = "event-detail__info__table__item">
            <%= t("show.date", date: @event.date.strftime('%m/%d'), time: @event.time_table.time) %>
          </td>
        </tr>

        <tr class = "event-detail__info__table__index">
          <th class = "event-detail__info__table__col">
            <i class="fas fa-coffee"></i>
            <%= t("show.category.recommend") %>
          </th>
          <td class = "event-detail__info__table__item">
            <%= t("show.recommend", recommend_menu: @event.recommend_menu, recommend_price: @event.recommend_menu_price) %>
          </td>
        </tr>
        <tr class = "event-detail__info__table__index">
          <th class = "event-detail__info__table__col">
            <i class="fas fa-link"></i>
            <%= t("show.category.store_url") %>
          </th>
          <td class = "event-detail__info__table__item last">
            <%= link_to "店舗URL", @event.store_url, class: "detail-url"%>
          </td>
        </tr>
        <tr class="event-detail__info__table__index">
          <th class="event-detail__info__table__col">
            <i class="fas fa-map-marked-alt"></i>
            <%= t("show.category.adress") %>
          </th>
          <td class="event-detail__info__table__item last">
            <span id="js-adress">
              <%= @event.adress %>
            </span>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="event-detail__map">
    <%= render 'events/shared/google-map' %>
  </div>
</section>

<%= link_to 'Back', events_path %>
