<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<% if @event.image.attached? %>
  <p>
    <strong>Name:</strong>
    <%= image_tag @event.image %>
  </p>
<% end %>


<p>
  <strong>Time:</strong>
  <%= @event.time_table.time %>
</p>

<p>
  <strong>Recommend menu:</strong>
  <%= @event.recommend_menu %>
</p>

<p>
  <strong>Place:</strong>
  <%= @event.place %>
</p>

<p>
  <strong>Max num:</strong>
  <%= @event.max_num %>
</p>

<% if current_user %>
  <% if @event.join_by?(current_user) %>
    <p>
      <%= link_to event_event_joins_path(@event), method: :delete do %>
        参加人数♥×<%= @event.event_joins.count %>/<%= @event.max_num %>
      <% end %>
    </p>
    <% else %>
      <p>
        <%= link_to event_event_joins_path(@event), method: :post do %>
          参加人数♡×<%= @event.event_joins.count %>/<%= @event.max_num %>
        <% end %>
      </p>
      <% end %>
<% else %>
  <%= link_to event_event_joins_path(@event), method: :delete do %>
    参加人数♥×<%= @event.event_joins.count %>/<%= @event.max_num %>
    <% end %>
<% end %>

<%= link_to 'Back', events_path %>
