<!-- topページ -->

<div class="event-top">
    <div class="event-top__img">
        <%= image_tag 'top-image.jpg' %>
    </div>
</div>

<div class="event-info">

    <h3 class="event-info__title text-center title-text">
        <%= t("title.event") %>
    </h3>

    <div class="js-events">
        <% @events.each do |event| %>
            <div class="slider">
                <%= link_to event_path(event.id) do %>
                    <%= image_tag event.image %>
                <% end %>
            </div>
        <% end %>
    </div>

    <h3 class="event-info__title text-center title-text">
        <%= t("title.what_is") %>
    </h3>

    <h3 class="event-info__title text-center title-text">
        <%= t("title.q_and_a") %>
    </h3>

</div>