<section class="login__container">
    <%= notice %>
    <%= alert %>
    <div class="login">
        <div class="login__wrapper">
            <div class="active login__title">
                <h3 class="login__title-text" id = "js-login-title">
                    <%= Settings.web[:circle_name] %>
                </h3>
            </div>
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class="field login__field">
                    <%= f.label :email %><br />
                    <%= f.email_field :email, autofocus: true, autocomplete: "email" ,class: "login__input js-login-email" %>
                </div>

                <div class="field login__field">
                    <%= f.label :password %><br />
                    <%= f.password_field :password, autocomplete: "current-password" ,class: "login__input js-login-password" %>
                </div>

                <% if devise_mapping.rememberable? %>
                    <div class="field login__field">
                        <%= f.check_box :remember_me %>
                        <%= f.label :remember_me %>
                    </div>
                <% end %>

                <div class="actions text-center">
                    <%= f.submit "ログイン", class: "login__submit js-login-submit", disabled:true %>
                </div>
            <% end %>
        </div>
    </div>
</section>
