<% @events_before.each do |event| %>
    <%= link_to event_path(event.id) do %>
        <div class="event-all__menu__item m-auto">
            <%= image_tag event.image %>
            <div class="event-all__menu__item__content">
                <p class="event-all__menu__item__date">
                    <%= t("index.holding", date: event.date, time: event.time_table.time) %>

                    <!-- event  hold within a week? -->
                    <% if event.hold_day? == "week_in" %>
                        <br>
                        <span class="event-all__menu__item__week">
                            <%= t("index.week_in") %>
                        </span>
                    <% elsif event.hold_day? == "finished" %>
                        <br>
                        <span class="event-all__menu__item__finished">
                            <%= t("index.finished") %>
                        </span>
                    <% end %>

                </p>
                <p class = "event-all__menu__item__title">
                    <%= event.name %>
                </p>
                <p class="event-all__menu__item__recommend">
                    <%= t("index.recommend_menu", menu: event.recommend_menu) %>
                </p>
            </div>
        </div>
    <% end %>
<% end %>