<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class = "header content-center">
      <div class="header__container">
        <!-- logo -->
        <%= link_to "/" , class: "header__logo content-center" do %>
          <%= image_tag 'cafe-logo.png' , class: 'header__logo-img' %> Cafe Modern
        <% end %>

        <!-- hamburger menu -->
        <button class="btn-menu" id="js-ham" type="button">
          <i class="btn-menu__bars"></i>
          <span class="sr-only">Menu</span>
        </button>
      </div>

    </header>

    <li>
      <%= link_to "創設者挨拶", greeting_events_path %>
    </li>
    <% if user_signed_in? %>
      <li>
        <%= link_to "マイページへ", user_path(current_user.id) %>
      </li>
      <li>
        <%= link_to "ログアウト" , destroy_user_session_path, method: :delete %>
      </li>
    <% else %>
        <li>
          <%= link_to "新規登録" , new_user_registration_path %>
        </li>
        <li>
          <%= link_to "ログイン" , new_user_session_path %>
        </li>
    <% end %>
    <li>
      <%= link_to "お問い合わせ" , Settings.web[:formrun] %>
    </li>
    <%= yield %>


    <div class="global-menu" id="js-modal">
      <nav class="global-menu__nav">
        <ul class = "global-menu__list">
          <li class = "global-menu__item"><a href="#">Home</a></li>
          <li class = "global-menu__item"><a href="#">About</a></li>
          <li class = "global-menu__item"><a href="#">Work</a></li>
          <li class = "global-menu__item"><a href="#">Contact</a></li>
        </ul>
      </nav>
    </div>


  </body>

  <script>
  </script>
</html>
